*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-size: 1em;
    font-family: monospace, monospace;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-size: 1em;
    font-family: monospace, monospace;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-size: 100%;
    line-height: 1.15;
    font-family: inherit;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    display: table;
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
    color: inherit;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
    white-space: revert;
}
[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}
[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
ol,
ul,
menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}
table {
    border-collapse: collapse;
}
:where(pre) {
    all: revert;
}
::placeholder {
    color: unset;
}
::marker {
    content: initial;
}
:where([hidden]) {
    display: none;
}
:where(dialog:modal) {
    all: revert;
}
@font-face {
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/proxima/fontspring-demo-proximanova-regular-webfont.woff2) format('woff2'),
        url(../../fonts/proxima/fontspring-demo-proximanova-regular-webfont.woff) format('woff');
    font-family: proxima_nova;
}
@font-face {
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/proxima/fontspring-demo-proximanova-extrabold-webfont.woff2) format('woff2'),
        url(../../fonts/proxima/fontspring-demo-proximanova-extrabold-webfont.woff) format('woff');
    font-family: proxima_nova_bold;
}
@font-face {
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/proxima/fontspring-demo-proximanova-light-webfont.woff2) format('woff2'),
        url(../../fonts/proxima/fontspring-demo-proximanova-light-webfont.woff) format('woff');
    font-family: proxima_novathin;
}
@font-face {
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/arial/arial-webfont.woff2) format('woff2'),
        url(../../fonts/arial/arial-webfont.woff) format('woff');
    font-family: arial;
}
header {
    flex: 0 0 auto;
    padding-top: 2.4rem;
    width: 100%;
    min-height: 80px;
}
header.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: block;
}
header .navigations {
    padding-top: 12px;
}
header .form-login .login-btn {
    border: 2px solid #fff;
    background: none;
}
header .form-login .login-btn:hover,
header .form-login .login-btn:active {
    border: none;
    background-image: linear-gradient(29deg, #5866ea 0%, #2ba0ea 100%);
    background-color: #f4a525;
}
header .form-login .field {
    display: none;
}
header .form-login.opened .login-btn {
    border: none;
    background-image: linear-gradient(29deg, #5866ea 0%, #2ba0ea 100%);
    background-color: #f4a525;
}
header .form-login.opened .field {
    display: block;
}
header img {
    display: block;
}
@media only screen and (min-width: 1024px) {
    header.container {
        flex-direction: row;
        align-items: flex-start;
    }
}
.form-login {
    display: flex;
    row-gap: 13px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-family: arial, Helvetica, sans-serif;
}
.form-login .email,
.form-login .password {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 15px;
    width: 100%;
    height: 40px;
    color: #6e747c;
    font-weight: 600;
}
.form-login .field {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}
.form-login .forgot-password {
    margin-top: 13px;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    text-decoration: underline;
}
.form-login .forgot-password:hover,
.form-login .forgot-password:active {
    text-decoration: none;
}
.error-validation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0;
    border-radius: 4px;
    background: #e22a32;
    width: 100%;
    min-height: 35px;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    text-align: center;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(29deg, #5866ea 0%, #2ba0ea 100%);
    background-color: #f4a525;
    width: 100%;
    min-width: 80px;
    min-height: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
}
button:hover,
button:active {
    cursor: pointer;
    box-shadow: 0 1px 17px #2ba0eaa8;
}
.inactive {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
@media only screen and (min-width: 1024px) {
    .form-login {
        column-gap: 13px;
        row-gap: 0;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    .form-login .field {
        width: 200px;
    }
    .error-validation {
        position: absolute;
        top: 45px;
        left: 0;
        margin: 0;
    }
    button {
        width: auto;
    }
}
#app {
    flex: 1 1 auto;
    margin-top: 30px;
    overflow: hidden;
}
h1 {
    margin: 0 0 10px;
    color: #83a6e4;
    font-size: 28px;
    font-family: proxima_nova_bold;
    text-transform: uppercase;
}
h2 {
    margin: 0 0 39px;
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    font-family: proxima_novathin;
    letter-spacing: 3.28px;
}
@media only screen and (min-width: 1024px) {
    #app {
        margin-top: 235px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 36px;
    }
}
.registration-wrapper {
    position: relative;
}
.registration-wrapper .reg-input {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background: #fff;
    padding: 0 20px;
    width: 100%;
    height: 0;
    color: #6e747c;
    line-height: 20px;
    text-align: center;
}
.registration-wrapper .reg-input:focus,
.registration-wrapper .reg-input.active,
.registration-wrapper .reg-input:active {
    visibility: visible;
    opacity: 1;
    height: 55px;
}
.registration-wrapper input {
    font-weight: 400;
    font-size: 18px;
}
.registration-wrapper .input-wrapper {
    position: relative;
    margin: 0 auto;
    width: 99%;
    height: 100%;
}
.registration-wrapper .input-wrapper .label {
    transition: none;
}
.registration-wrapper .input-wrapper .custom-select {
    display: block;
    padding: 9px 5px 5px;
}
.registration-wrapper .input-wrapper .custom-select:focus,
.registration-wrapper .input-wrapper .custom-select.active,
.registration-wrapper .input-wrapper .custom-select:active {
    box-shadow: none;
    font-size: 14px;
}
.registration-wrapper .input-wrapper .custom-select:focus .reg-input,
.registration-wrapper .input-wrapper .custom-select.active .reg-input,
.registration-wrapper .input-wrapper .custom-select:active .reg-input {
    visibility: visible;
    opacity: 1;
    margin-top: 4px;
    height: 55px;
}
.registration-wrapper .input-wrapper .custom-select:after {
    content: none;
}
.registration-wrapper .button {
    position: absolute;
    bottom: -200%;
    z-index: 3;
    padding: 0 13px 0 18px;
    width: 47%;
    min-width: 120px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
.registration-wrapper .button:after {
    display: inline-block;
    position: relative;
    border: solid #8e9394;
    border-width: 0 2px 2px 0;
    width: 12px;
    height: 12px;
    content: '';
}
.registration-wrapper .button.right {
    right: 0;
    justify-content: space-between;
}
.registration-wrapper .button.right:after {
    top: 0;
    right: 1px;
    transform: rotate(-45deg);
    margin-left: 9px;
    border-color: #fff;
}
.registration-wrapper .button.left {
    left: 0;
    border: 2px solid #8e9394;
    border-radius: 4px;
    padding: 0;
    min-width: 40px;
    height: 40px;
    color: #8e9394;
    font-size: 0;
}
.registration-wrapper .button.left:after {
    top: 12px;
    left: 3px;
    transform: rotate(135deg);
}
.registration-wrapper .button.left:hover {
    border-color: #fff;
}
.registration-wrapper .button.left:hover:after {
    border-color: #fff;
}
.registration-wrapper .button.finish {
    padding-right: 10px;
}
.registration-wrapper .button.finish:after {
    top: -4px;
    transform: rotate(45deg);
    margin-left: 8px;
    width: 9px;
    height: 13px;
}
.registration-wrapper .dot-slider-nav {
    margin: 105px auto 0;
    max-width: 360px;
}
.registration-wrapper .dot-slider-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration-wrapper .dot-slider-nav span {
    display: inline-block;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.registration-wrapper .dot-slider-nav .dot-item {
    margin-left: 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    overflow: hidden;
}
.registration-wrapper .dot-slider-nav .dot-item:first-child {
    margin-left: 0;
    background: #fff;
}
.registration-wrapper .dot-slider-nav .dot-item:hover,
.registration-wrapper .dot-slider-nav .dot-item:active,
.registration-wrapper .dot-slider-nav .dot-item.active {
    cursor: pointer;
    background: #fff;
}
.registration-wrapper .dot-slider-nav .dot-item:not(.active) ~ li {
    background: #fff;
}
.registration-wrapper .dot-slider-nav .dot-item.active ~ li {
    background: none;
}
.slider-wrapper {
    display: grid;
    position: relative;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, minmax(100%, 960px));
}
#register-form {
    padding-bottom: 100px;
}
#register-form .slide {
    position: relative;
    transform: translateZ(0);
    z-index: 4;
    transition: transform 0.4s ease-out;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    height: auto;
    min-height: 90px;
}
#register-form .slide-info {
    margin: 11px auto 5px;
    width: 100%;
    color: #ffffff80;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
}
#register-form .slide-info p {
    margin: 0;
}
#register-form.active-item-5 #send,
#register-form[data-current-slide='4'] #send {
    background-image: linear-gradient(29deg, #4caf50 0%, #3cd342 100%);
    background-color: #6dba2e;
}
#register-form.active-item-5 #send:hover,
#register-form[data-current-slide='4'] #send:hover,
#register-form.active-item-5 #send:active,
#register-form[data-current-slide='4'] #send:active {
    box-shadow: 0 1px 17px #3cd342a8;
}
#register-form .error-validation {
    position: absolute;
    top: auto;
    bottom: -44px;
    min-height: 40px;
    font-weight: 700;
    font-size: 14px;
}
#register-form[data-current-slide='1'] .slide:nth-of-type(1),
#register-form[data-current-slide='1'] .slide:nth-of-type(2),
#register-form[data-current-slide='1'] .slide:nth-of-type(3),
#register-form[data-current-slide='1'] .slide:nth-of-type(4),
#register-form[data-current-slide='1'] .slide:nth-of-type(5) {
    transform: translate3d(-100%, 0, 0);
}
#register-form[data-current-slide='2'] .slide:nth-of-type(1),
#register-form[data-current-slide='2'] .slide:nth-of-type(2),
#register-form[data-current-slide='2'] .slide:nth-of-type(3),
#register-form[data-current-slide='2'] .slide:nth-of-type(4),
#register-form[data-current-slide='2'] .slide:nth-of-type(5) {
    transform: translate3d(-200%, 0, 0);
}
#register-form[data-current-slide='3'] .slide:nth-of-type(1),
#register-form[data-current-slide='3'] .slide:nth-of-type(2),
#register-form[data-current-slide='3'] .slide:nth-of-type(3),
#register-form[data-current-slide='3'] .slide:nth-of-type(4),
#register-form[data-current-slide='3'] .slide:nth-of-type(5) {
    transform: translate3d(-300%, 0, 0);
}
#register-form[data-current-slide='4'] .slide:nth-of-type(1),
#register-form[data-current-slide='4'] .slide:nth-of-type(2),
#register-form[data-current-slide='4'] .slide:nth-of-type(3),
#register-form[data-current-slide='4'] .slide:nth-of-type(4),
#register-form[data-current-slide='4'] .slide:nth-of-type(5) {
    transform: translate3d(-400%, 0, 0);
}
#register-form[data-current-slide='5'] .slide:nth-of-type(1),
#register-form[data-current-slide='5'] .slide:nth-of-type(2),
#register-form[data-current-slide='5'] .slide:nth-of-type(3),
#register-form[data-current-slide='5'] .slide:nth-of-type(4),
#register-form[data-current-slide='5'] .slide:nth-of-type(5) {
    transform: translate3d(-500%, 0, 0);
}
@media only screen and (min-width: 768px) {
    .registration-wrapper .button {
        bottom: -180%;
    }
    .registration-wrapper .dot-slider-nav {
        margin-top: 80px;
    }
}
@media only screen and (min-width: 1024px) {
    .registration-wrapper {
        padding-bottom: 75px;
    }
    .registration-wrapper .input-wrapper {
        width: 360px;
    }
    .registration-wrapper .button {
        bottom: 8px;
        width: auto;
    }
    .registration-wrapper .button.right {
        right: calc(50% - 270px);
        transform: translate(50%);
    }
    .registration-wrapper .button.left {
        left: calc(50% - 270px);
        transform: translate(50%);
    }
    #register-form {
        padding: 0;
    }
    #register-form .slide {
        z-index: 1;
    }
    #register-form .slide-info {
        width: 400px;
    }
}
.finish {
    background-image: linear-gradient(29deg, #4caf50 0%, #3cd342 100%);
    background-color: #6dba2e;
}
.finish:hover,
.finish:active {
    box-shadow: 0 1px 17px #3cd342a8;
}
.select-wrapper {
    position: relative;
    margin: 0 auto;
    width: 99%;
    height: 100%;
}
.custom-select {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.4s ease;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background-image: none;
    background-color: #ffffff80;
    padding: 19px 20px;
    min-width: auto;
    min-height: 55px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.custom-select > p {
    margin: 0;
}
.custom-select .label {
    transition: all 0.3s ease;
    font-weight: 700;
}
.custom-select:after {
    position: absolute;
    right: 21px;
    bottom: 45%;
    transform: translateY(50%);
    transition: all 0.5s ease;
    border: 5px solid transparent;
    border-top: 6px solid #fff;
    width: 10px;
    height: 11px;
    content: '';
    font-size: 0;
    line-height: normal;
}
.custom-select:focus,
.custom-select.active,
.custom-select:active {
    box-shadow: none;
    padding: 9px 20px 64px;
}
.custom-select:focus .label,
.custom-select.active .label,
.custom-select:active .label {
    font-size: 14px;
}
.custom-select:focus .dropdown,
.custom-select.active .dropdown,
.custom-select:active .dropdown {
    transform: translateY(20px);
    visibility: visible;
    opacity: 1;
}
.custom-select:focus:after,
.custom-select.active:after,
.custom-select:active:after {
    bottom: 32%;
    transform: rotate(180deg);
    border-top-color: #6e747c;
}
.custom-select .selected-option {
    display: none;
}
.custom-select.selected {
    padding: 9px 4px 4px;
    height: 90px;
}
.custom-select.selected .label {
    font-size: 14px;
}
.custom-select.selected .selected-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background: #fff;
    width: 100%;
    height: 0;
    height: 55px;
    color: #6e747c;
    line-height: 20px;
    text-align: center;
}
.custom-select.selected .selected-option:hover,
.custom-select.selected .selected-option:focus,
.custom-select.selected .selected-option:active {
    cursor: pointer;
}
.custom-select.selected:after {
    bottom: 31%;
    border-top-color: #6e747c;
}
.custom-select:hover {
    box-shadow: none;
}
.custom-select .dropdown-list {
    padding-right: 6px;
    height: 100%;
    overflow-y: auto;
}
.custom-select .dropdown-list::-webkit-scrollbar {
    border-radius: 1px;
    width: 2px;
}
.custom-select .dropdown-list::-webkit-scrollbar-track {
    background: #fff;
}
.custom-select .dropdown-list::-webkit-scrollbar-thumb {
    background: #e2e2e2;
}
.custom-select .dropdown-list::-webkit-scrollbar-thumb:hover {
    background: #8e9394;
}
.custom-select .dropdown {
    position: absolute;
    top: 13px;
    left: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: 4px;
    background: #fff;
    padding: 6px 4px 10px 10px;
    width: calc(100% - 8px);
    height: 216px;
    text-align: center;
}
.custom-select .dropdown li {
    position: relative;
    z-index: 1;
    border-radius: 4px;
    background: #fff;
    color: #6e747c;
}
.custom-select .dropdown li.active,
.custom-select .dropdown li:hover {
    background: #e2e2e2;
}
.custom-select .dropdown li.active a,
.custom-select .dropdown li:hover a,
.custom-select .dropdown li.active span,
.custom-select .dropdown li:hover span {
    font-weight: 700;
    letter-spacing: 0;
}
.custom-select .dropdown a,
.custom-select .dropdown span {
    display: block;
    padding: 0;
    color: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.custom-select .dropdown a:hover,
.custom-select .dropdown span:hover {
    font-weight: 700;
    letter-spacing: 0;
}
.custom-select.loaded {
    display: inline-block;
}
@media only screen and (min-width: 468px) {
    .custom-select {
        min-width: 360px;
    }
}
@media only screen and (min-width: 1024px) {
    .select-wrapper {
        width: 360px;
    }
}
:root {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    font-family: Open Sans, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: url(../images/bg-8a84d856.jpg) no-repeat center;
    background-size: cover;
    min-width: 320px;
    min-height: 100vh;
}
.container {
    box-sizing: content-box;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    text-align: center;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    height: 100%;
}
