@font-face {
    font-family: 'proxima_nova';
    src: url('../../fonts/proxima/fontspring-demo-proximanova-regular-webfont.woff2')
            format('woff2'),
        url('../../fonts/proxima/fontspring-demo-proximanova-regular-webfont.woff')
            format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../../fonts/proxima/fontspring-demo-proximanova-extrabold-webfont.woff2')
            format('woff2'),
        url('../../fonts/proxima/fontspring-demo-proximanova-extrabold-webfont.woff')
            format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novathin';
    src: url('../../fonts/proxima/fontspring-demo-proximanova-light-webfont.woff2')
            format('woff2'),
        url('../../fonts/proxima/fontspring-demo-proximanova-light-webfont.woff')
            format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arial';
    src: url('../../fonts/arial/arial-webfont.woff2') format('woff2'),
        url('../../fonts/arial/arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
